{% extends "base.html" %}
{% block title %}
    Pizzernia
{% endblock %}
{% block body %}
    <h1>{{ cart }} </h1> 
    {% for product in cart.orderitem_set.all %}
        {{ product.product }} {{ product.quantity}} 
        <a href="{% url 'orders:remove-from-cart' product.id %}">Remove</a> 
        <a href="{% url 'orders:decrease-quantity' product.id %}">decrease</a>
        <a href="{% url 'orders:increase-quantity' product.id %}">increase</a>
        <br>  
    {% endfor %}
    <p> suma zamowienia {{ cart.value}}</p>
{% endblock %}