{% extends "base.html" %}
{% block title %}
    Pizzernia-menu
{% endblock %}
{% block body %}
    {% load static %}
    <h1>Menu</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Small</th>
            <th>Large</th>
        </tr>
        {% for product in object_list %}
            
                <tr>
                    <th>{{ product }}</th>
                    <th>{{ product.small_price }}</th>
                    {% if product.large_price %}
                        <th>{{ product.large_price }}</th>
                    {% endif %}
                    <th><a href="{% url 'orders:product_detial' product.slug %}">Order</a></th>
                </tr>
        {% endfor %}
    </table>

{% endblock %}