<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Product details</title>
</head>

<body>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add to cart">
    </form>
</body>
</html>